form {
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	padding: 50px 0;
	background-image: linear-gradient(-90deg, floralwhite, azure);
}

#dog-breeds,
#dog-sub-breeds {
	padding: 10px;
	font-size: 1.4rem;
	width: 20%;
	outline: none;
	min-width: 200px;
}
#dog-breeds option,
#dog-sub-breeds option {
	padding: 10px;
	font-size: 1rem;
}
#dog-sub-breeds:focus,
#dog-breeds:focus {
	outline: none;
}

button {
	width: 150px;
	height: 40px;
	font-family: monospace;
	font-size: 1.2rem;
	cursor: pointer;
}

.flex-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#breed-image img {
	max-height: 400px;
	max-width: 100%;
	min-height: 300px;
	margin: 20px;
}

@media screen and (max-width: 400px) {
	form {
		align-items: center;
		gap: 2rem;
		flex-direction: column;
	}
}
